{% extends 'apptd/basic.html' %}

{% block title %}adview-Page{% endblock %}
{% block navhead-tag %}Advance View{% endblock %}
{% block Mainpage-nav %}<a class="nav-item nav-link active" href="/apptd">Home <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link active" href="adview">Refresh <span class="sr-only">(current)</span></a>{% endblock %}

{% block body %}
<pre>      Lists {Name:Tasks}:<br>
    {{List}}</pre><br>
<form action="adview" method="post">{% csrf_token %}
  <div class="form-group mx-2">
    <label for="listname">Enter List Name</label>
    <input type="text" class="form-control" id="listname" name="listname" placeholder="Enter List Name">
  </div>
  <div class="form-group mx-2">
    <label for="option">Select Option To See Tasks By:</label>
    <select class="form-control" id="option" name="option">
      <option>Priority</option>
      <option>Duedate</option>
      <option>Task-Only</option>
    </select>
  </div>
  <button type="submit" class="btn btn-success mx-2">Submit</button>
</form>

</form>
{% endblock %}